@font-face {
    font-family: Allerta Stencil; /* Гарнитура шрифта */
    src: url(fonts/AllertaStencil-Regular.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: DMSans ; /* Гарнитура шрифта */
    src: url(fonts/DMSans-Regular.ttf); /* Путь к файлу со шрифтом */
   }


/* header */

header {
    display: flex;
    justify-content: space-between;
    WIDTH: auto;
    margin: 3em 20em 3em 20em;
    align-items: center;
    
}

.upbut {
    display: flex;
    width: 45%;
    justify-content: flex-end;;
  
}

.s{
color: #A18A68;
}

.shoppe {
    width: 45%;
    font-family: Allerta Stencil;
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;

}


.butshoppe img {
    background-color: white;
    width: 19px; 
    height: 19px;
 
}

.butshoppe {
    border:0;
    padding:0;
    border-color: white;
    cursor: pointer;
    background-color: white;
    margin: 1px 0px 1px 35px;
}

.links a{
    color:#000000;
    text-decoration: none;
    font-size: 16px;
    margin: 1px 35px 1px 0;
}


/* main */
/* banner */

.banner {
    width: 100%;
    display :flex ;
    justify-content: center;
}

.inbanner {
    width:100%;
    display: flex;
    
    background-image: url("picture/banner1.png");
    background-size: no-repeat;

    background-position: center;

    background-size: cover;
    Width:1260px;
    height: 646px;
    justify-content: center;
    flex-direction: column;
}

.inbannertxt{
display: flex;
align-items: flex-start;
flex-direction: column;
}

.bannertext {
    color:white;
    font-family: DMSans;

}

.gold {
 font-size: 33px;
margin: 0%;
padding: 0%;
margin-left: 33px;

}

.money{
    margin-left: 33px; 
    font-size: 26px;
    margin-top: 10px;
}


/* middle line */


.viewreoduct {
    margin-left:33px;
    font-size: 20px;
    background-color: transparent;
    padding:8px 28px;
    border-radius: 5px;
   border: 2px solid white;
   cursor: pointer;
}

.middleinscription {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
    max-width: 1300px;
    margin: 3em 20em 3em 20em;
    align-items: center;
}

.midlletxt{
    font-size: 33px;
    font-family: DMSans;
    font-weight: bold;
}

.viewall {
    font-size: 20px;
    font-family: DMSans;
    color: #A18A68;
    border: 2px solid white;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}





/* main products */

.lines img {
    width: 350px;
    height: 353px;
}

.productsone {
 width: 100%;
 display: flex;
 justify-content: center;
}
.lineone {
   display: flex;
   justify-content: space-between;
   width: 67%;
    
}


.nameofproducts {
    font-size: 20px;
    font-family:DMSans;
}

.price {
    font-size: 20px;
    font-family: DMSans;
    color:#A18A68;
}



.productstwo {
    width: 100%;
 display: flex;
 justify-content: center;
}

.linetwo {
    display: flex;
    justify-content: space-between;
    width: 67%;
    margin-top: 5em;
}



.lowline{
    width: 100%;
    display: flex;
    justify-content: center;
}
.line {
    border: none;
    background-color:#D8D8D8;
    color: #D8D8D8;
    height: 1px;
    width: 70%;
    margin: 250px 0px 15px 30px;
}




/* 
footer */


.footerblock {
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 65px;
}



.siteinformation a{
    color:#707070;
    font-family: DMSans;
    font-size: 16px;
    text-decoration: none;
    margin-right: 35px;
}

.arrow a {
    color:#707070;
    font-family: DMSans;
    font-size: 16px;
    text-decoration: none;
    margin-right: 5em;
}

.arrow img {
    width: 25px;
    margin-left: 16px;
    
}

.arrow {
    border-bottom: 2px solid #707070;
    padding-bottom: 15px;
}

.contacts {
    
    display: flex;
    justify-content: space-between;
    margin: 20px 230px 0 290px;
    align-items: center;
}

.privacypolicy{
    font-size: 16px;
    font-family: DMSans;
    color: #707070;
    display: flex;
}

.society img{
    margin-right: 20px;
}

/* 
модальное окно */



.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modalbox {
    position: relative;
    max-width: 100%;
    background-color: white;
    width: 400px;
    height: 520px;
    box-shadow: -3px 2px 26px -1px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: -3px 2px 26px -1px rgba(34, 60, 80, 0.22);
    box-shadow: -3px 2px 26px -1px rgba(34, 60, 80, 0.22);
    margin: 10% 0%;
    border-radius: 5px;
    
}


.modal.open {
    visibility: visible;
    opacity: 1;
}

.closemodal {
    border: none;
    background-color: transparent;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: -3px;
    cursor: pointer;
}
.closemodal img {
    width: 30px;
}


.vhod {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    font-family: DMSans;
    color:#A18A68;
    font-size: 29px;
}

.mail{
    display: flex;
    justify-content: center;
    font-family: DMSans;
    color:black;
    font-size: 20px;
    margin-top: 1em;
}

.password {
    display: flex;
    justify-content: center;
    font-family: DMSans;
    color:black;
    font-size: 20px;
    margin-top: 1em;
}


.notregistred {
    display: flex;
    justify-content: center;
    font-family: DMSans;
    color:black;
    font-size: 15px;
    margin-top: 7px;
}

.register {
   
    font-family: DMSans;
    color:#A18A68;
    font-size: 15px;
    margin: 0px 11em;
    border: 2px solid white;
    background-color: white;
    cursor: pointer;
}

.register:hover{
    color: black;
}

input[type=text], input[type=password] {
    width: 70%;
    padding: 20px;
    margin: 5px 40px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.signin {
    font-family: DMSans;
    color:white;
    font-size: 15px;
    margin:17px 91px;
    border: 2px solid black;
    background-color: black;
    cursor: pointer;
    padding: 7px 84px;
    border-radius: 5px;
}

.signin:hover {
    background-color: white;
    color: #000000;
    font-weight: bold;
}


.wronglogin {
    margin-left: 43px ;
    visibility: hidden;
    opacity: 0;
}

.wronglogin.open {
    visibility: visible;
    opacity: 1;
}




.basket {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.basketbox {
    position: relative;
    max-width: 100%;
    background-color: white;
    width: 700px;
    height: 500px;
    box-shadow: -3px 2px 26px -1px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: -3px 2px 26px -1px rgba(34, 60, 80, 0.22);
    box-shadow: -3px 2px 26px -1px rgba(34, 60, 80, 0.22);
    margin: 10% 0%;
    border-radius: 5px;
    
}


.basket.open {
    visibility: visible;
    opacity: 1;
}


.closebasket {
    border: none;
    background-color: transparent;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: -3px;
    cursor: pointer;
}
.closebasket img {
    width: 30px;
}

.sorry {
    display: flex;
    font-family: DMSans;
    font-size: 30px;
    justify-content: center;
    margin-top: 4em;
    font-weight: bold;

}

.error {
    display: flex;
    font-family: DMSans;
    font-size: 30px;
    justify-content: center;
    margin-top: 2em;
}

.problem {
    display: flex;
    font-family: DMSans;
    font-size: 15px;
    justify-content: center;
    margin-top: 1em;
}




/* страницы истории */

.rubric{
    display: flex;
    justify-content: center;
    font-family: DMSans;
    font-size: 30px;
    margin-top: 4em;
    font-weight: bold;
}

.womendream {
    display: flex;
    justify-content: center;
    font-family: DMSans;
    font-size: 20px;
    margin: 2em 15em ;
}

.pickjewerly {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pick img {
    width: 50em;
    
}

.jewerly {
    display: flex;
    justify-content: center;
    font-family: DMSans;
    font-size: 20px;
    margin: 2em 15em ;
    font-weight: bold;
}

.story{
    display: flex;
    justify-content: center;
    font-family: DMSans;
    font-size: 20px;
    margin: 2em 15em ;
}

.england {
    width: 100%;
    display: flex;
    justify-content: center;
}

.englandgirl img {
 width: 40em;
}

.conclusion {
    display: flex;
    justify-content: center;
    font-family: DMSans;
    font-size: 20px;
    margin: 2em 15em ;
}


.home a{
    display: flex;
    justify-content: center;
    font-family: DMSans;
    font-size: 20px;
    margin: 3em 15em ;
    text-decoration: none;
    color :black;
    font-weight: bold;
}

.home a:hover {
    color: #A18A68;
}

.engagementrings {
    background-image: url("https://n1s1.elle.ru/47/ae/64/47ae646ae014039f013f2e700c8bbcd0/940x617_0xc0a839a4_10428626151479136916.jpeg");
    min-height: 32vh;
    width: 100%;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    background-position: 470px 0;
    background-color: #000000;
    background-attachment: fixed;
}

.engmrngs {
    display: flex;
    justify-content: center;
    font-family: DMSans;
    font-size: 50px;
    text-decoration: none;
    color :white;
    font-weight: bold;
}

.ring {
    display: flex;
    justify-content: center;
    font-family: DMSans;
    font-size: 20px;
    margin: 3em 15em ;
    text-decoration: none;
    color :black;
    
}

.rules {
    display: flex;
    justify-content: center;
    font-family: DMSans;
    font-size: 20px;
    margin: 3em 15em ;
    text-decoration: none;
    color :black;
    font-weight: bold;
    flex-direction: column;
    padding: 2em;
}



/* условия доставки */

/* .shippingmodal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,.3);
        display: grid;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s, visibility .4s;
    }
    
.shippingbox {
        position: relative;
        max-width: 100%;
        background-color: white;
        width: 700px;
        height: 500px;
        box-shadow: -3px 2px 26px -1px rgba(34, 60, 80, 0.22);
        -moz-box-shadow: -3px 2px 26px -1px rgba(34, 60, 80, 0.22);
        box-shadow: -3px 2px 26px -1px rgba(34, 60, 80, 0.22);
        margin: 10% 0%;
        border-radius: 5px;
        
    }
    
    
.shippingmodal.open {
        visibility: visible;
        opacity: 1;
    }
    
    
.closeshipping {
        border: none;
        background-color: transparent;
        padding: 10px;
        position: absolute;
        top: 0px;
        right: -3px;
        cursor: pointer;
    }

.closeshipping img {
        width: 30px;
    }
     */
